<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un utilisateur</title>
</head>
<body>
    <h1>Ajouter un utilisateur</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            <label for="name">Prénom :</label>
            {{ form.name }}
        </div>
        <div>
            <label for="lastname">Nom :</label>
            {{ form.lastname }}
        </div>
        <div>
            <label for="login">Login :</label>
            {{ form.login }}
        </div>
        <div>
            <label for="desc">Description :</label>
            {{ form.desc }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
</body>
</html>

