<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails de l'utilisateur</title>
</head>
<body>
    <h1>Fiche de l'utilisateur</h1>
    <div class="name">
        <strong>Prénom :</strong> {{ user.name }}
    </div>
    <div class="lastname">
        <strong>Nom :</strong> {{ user.lastname }}
    </div>
    <div class="login">
        <strong>Login :</strong> {{ user.login }}
    </div>
    <div class="desc">
        <strong>Description :</strong> {{ user.desc }}
    </div>
</body>
</html>

